@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Oswald:wght@200;400;700&display=swap');

html {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 400;
}
h1 {
    text-align: center;
    color: lightcoral;
}

