

$main-color: #0282F9;


//spacing

$space-50: 50px;
$space-20: 20px;
$space-10: 10px;

//text

$text-xsmall: 0.5em;
$text-small: 0.7em;
$text-large: 1.5em;
$text-xlarge: 2.5em;

$text-light: 200;
$text-bold: 700;